*{
    margin: 0;
    padding: 0;
}

body{
    background: #242121;
}

.app > .nav-bar{
    position: fixed;
    top: 0px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #292828;
    height: 50px;
    z-index: 999;
}

.nav-bar > .left-nav-bar{
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.left-nav-bar > *{
    cursor: pointer;
}

.left-nav-bar > .web-heading > #keazon{
    color: white;
    font-size: 22px;
}

.left-nav-bar > .web-heading > #books{
    color: grey;
    font-size: 14px;
}

.nav-bar > .center-nav-bar{
    display: flex;
    gap: 10px;
    align-items: center;
}

.center-nav-bar > .search-bar{
    display: flex;
    align-items: center;
    background-color: rgb(68, 67, 67);
    padding: 1px 5px;
    border-radius: 5px;
}

.center-nav-bar > .search-bar > input{
    outline: none;
    border: none;
    width: 500px;
    padding: 5px 20px;
    background-color: rgb(68, 67, 67);
    color: white;
}

.center-nav-bar > button{
    border: 0.5px solid gray;
    color: grey;
    padding: 4px 18px;
    border-radius: 4px;
    background-color: #292828;
    cursor: pointer;
}

.nav-bar > .right-nav-bar{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 20px;
}

.right-nav-bar > * {
    cursor: pointer;
}

.right-nav-bar > span{
    color: rgb(189, 187, 187);
}

.app > .main{
    width: 92vw;
    margin: 0px auto;
}

.main > .detail-card{
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.main > .detail-card > img{
    transform: rotate(-5deg);
    padding-right: 10px;
    height: 200px;
    background-color: white;
    z-index: 10;
    border-radius: 10px;
}

.detail-card > .card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin-left: -15px;
    margin-top: -10px;
    padding: 12px 0px;
    padding-left: 40px;
    padding-right: 20px;
    border-radius: 10px;
    background: rgba(171, 113, 244, 0.38);
}

.detail-card > .card-content > *{
    color: white;
}

.card-content > .card-title{
    font-size: 23px;
    font-weight: 700;
}

.card-content > .author-publish-date{
    display: flex;
    justify-content: space-between;
}

.author-publish-date > .author{
    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.50)
}

.author-publish-date > .publish-date{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.50)
}

.card-content > .card-description{
    font-size: 15px;
    height: 36px;
    overflow: hidden;
    color: rgba(255, 255, 255, 0.50)
}

.card-content > .card-reviews{
    display: flex;
    gap: 10px;
}

.card-content > .more-btns{
    display: flex;
    align-self: flex-end;
    align-items: center;
    gap: 15px;
}

.card-content > .more-btns > *{
    background-color: transparent;
    border: 0.5px solid white;
    padding: 5px 20px;
    font-size: 12px;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.card-content > .more-btns > *:hover{
    transform: scale(1.1);
}

.main > .all-cards{
    margin-top: 100px;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(3,1fr);
}

.all-cards > .single-card{
    display: flex;
    align-items: center;
    width: 27vw;
    transition: 0.2s;
    cursor: pointer;
}

.all-cards > .single-card:hover{
    transform: scale(1.05);
}

.single-card > img{
    transform: rotate(-5deg);
    border-radius: 10px;
    width: 150px;
    height: 200px;
    padding-right: 10px;
    background-color: white;
    z-index: 10;
}

.single-card > .single-card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 300px;
    height: 160px;
    margin-left: -10px;
    padding: 10px 0px;
    padding-left: 35px;
    padding-right: 20px;
    background: rgba(113, 197, 244, 0.38);
    border-radius: 10px;
}

.single-card-content .title{
    height: 23px;
    max-width: 250px;
    font-size: 15px;
    color: white;
    font-weight: 600;
    align-items: center;
    overflow: hidden;
}

.single-card-content > .description{
    font-size: 12px;
    color: white;
    height: 90px;
    overflow-y: hidden;
}

.single-card-content > button{
    background-color: transparent;
    border: 0.5px solid white;
    padding: 5px 20px;
    font-size: 12px;
    color: white;
    cursor: pointer;
}